
@{
    Layout = "~/Views/BabylonJSPrototype/_BabylonJSPrototypeLayout.cshtml";
}

<div>
    <canvas id="renderCanvas"></canvas>
    <script language="javascript">

        //function defined in index.js
        createScene();

    </script>
</div>