
@{
    ViewBag.Title = "Index";
}

<h2>Calculation Index</h2>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Meal Value Calculation", "MealValueCalculation", "Calculations", new { area = "" }, null)</li>
    </ul>
</div>

